.auction-container {
    padding: 20px;
    margin-right: 0;
}

.auction-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:center; /* Centriraj aukcije u kontejneru */
    gap: 20px;
    background-color:  white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0  , 0.3);
    margin-left: auto;
    margin-right: auto; /* Centriraj auction-list kontejner */
}


.search-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; /* Centriraj search-sort kontejner */
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 10px;
    height: 40px;
}

.sort-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}


.auction-item {
    flex: 1 0 21%;
    max-width: 21%;
    min-width: 250px;
    box-sizing: border-box;
    padding: 15px;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    min-height: 150px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.auction-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .auction-item {
        flex: 1 0 45%;
        max-width: 45%;
    }
    .search-sort-container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    .auction-item {
        flex: 1 0 100%;
        max-width: 100%;
    }
}

/* Button styles */
button.create-auction-btn {
    background-color: #2E7D32 !important;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.create-auction-btn:hover {
    background-color: #357ABD !important;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-controls button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.auction-list-container {
    margin-top: 100px;
    max-width: 1200px; /* Set maximum width for centering */
    margin-left: auto;
    margin-right: auto; /* Center the entire auction list container */
}
