.auction-details {
    max-width: 900px;
    margin: 100px auto;
    padding: 20px;
    background: #f7f7f8;
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center; /* Centriraj sav tekst u kontejneru */
}

.auction-header {
    margin-bottom: 15px; /* Razmak između naslova i slike */
    padding: 10px;
    background: #f7f7f8;
    border-radius: 8px;
}

.auction-header h2 {
    font-size: 2.5em;
    color: #333;
    margin: 0;
}



/* Lokacija i trenutna cena */
.auction-header .auction-city {
    font-size: 1.1em;
    color: #666;
    text-align: center;
}



.current-price {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: #0056b3;
    margin-top: 15px;
}

/* Slideshow */
.slideshow-container-large {
    position: relative;
    max-width: 100%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
}

.large-image {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Dugmadi za slideshow */
.prev1, .next1 {
    position: absolute;
    top: 50%;
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.prev1:hover, .next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev1 { left: 10px; }
.next1 { right: 10px; }

/* Sekcija za nove ponude */
.bid-section {
    margin-top: 25px;
    text-align: center;
}

.bid-history {
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 8px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bid-history-link{
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
}

.new-bid-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    
}

.new-bid-container input {
    padding: 12px;
    font-size: 1.2em;
    border: 2px solid #0056b3;
    background-color: white;
    border-radius: 8px;
    width: 200px;

}

.new-bid-btn {
    background-color: #0056b3;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    cursor: pointer;
}

.new-bid-btn:hover {
    background-color: #0056b3;
}

/* Countdown timer */
.countdown-container {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ff5733;
}

/* Kontakt informacije */
.contact-info p {
    text-align: center;
    font-size: 1.2em;
}

.contact-info .phone-number a {
    text-decoration: none;
    color: #0056b3;
}

.contact-info .phone-number a:hover {
    color: #0056b3;
}

.contact-info .auction-owner {
    margin-top: 15px;
    font-size: 1.2em;
    color: #444;
}

.contact-info .auction-owner a{
    color: #0056b3;
}

/* Modal za istoriju ponuda */
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixed positioning for full-screen coverage */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Ensure it's on top of other elements */
}

.ReactModal_Content {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    margin: 50px auto;
}

.ReactModal_Content ul {
    list-style-type: none;
    padding: 0;
}

.ReactModal_Content li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Dugme za zatvaranje */
.close-button {
    font-size: 1.8em;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

.report-auction-btn {
    position: absolute; /* Use absolute positioning */
    top: 0px;           /* Distance from the top of the container */
    left: 0px;          /* Distance from the left of the container */  /* Add padding for size */ /* Button background color */
    color: darkblue;        /* Button text color */
    padding: 6px;
    font-size: 1em;    /* Font size */
    border: none;          /* Rounded corners */
    cursor: pointer;     /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    text-decoration:underline;
    background-color: #f7f7f8;
}

.report-auction-btn:hover {
    background-color: #ccc; /* Darker background on hover */
}

.comment-hr{
    width: 200px;
}


