.auction-details {
    max-width: 900px;
    margin: 100px auto;
    padding: 20px;
    background: #f7f7f8;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center; /* Centriraj sav tekst u kontejneru */
    border: 3px solid #666;
}

.auction-header {
    margin-bottom: 15px; /* Razmak između naslova i slike */
    padding: 10px;
    background: #f7f7f8;
    border-radius: 8px;
}

.auction-header h2 {
    color: #fff;
    text-align: center;
    padding: 12px 20px;
    margin: 10px auto;
    width: fit-content;
    background: linear-gradient(135deg, #4a90e2, #0056b3);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}



/* Lokacija i trenutna cena */
.auction-header .auction-city {
    font-size: 1.1em;
    color: #666;
    text-align: center;
}



.current-price {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    background-color: #f8d210; /* Zlatno-žuta boja za isticanje */
    color: #333; /* Tamna boja teksta za dobar kontrast */
    font-size: 24px; /* Veći font za veću vidljivost */
    font-weight: bold; /* Podebljan tekst */
    padding: 10px 20px; /* Dobar padding za unutrašnje razmake */
    border-radius: 10px; /* Zaobljeni uglovi */
    border: 3px solid #ffb703; /* Kontrastni okvir */
    text-align: center; /* Centriran tekst */
    display: inline-block; /* Da ne zauzima celu širinu */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Slideshow */
.slideshow-container-large {
    position: relative;
    max-width: 70%;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px;
    background: lightslategray;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.large-image {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

/* Dugmadi za slideshow */
.prev1, .next1 {
    position: absolute;
    top: 45%;
    font-size: 2em;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.prev1:hover, .next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev1 { left: 8%; }
.next1 { right: 8%; }

/* Sekcija za nove ponude */
.bid-section {
    margin-top: 25px;
    text-align: center;
}

.bid-history {
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 8px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bid-history-link{
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    color: green;
}

.new-bid-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    
}

.new-bid-container input {
    padding: 12px;
    font-size: 1.2em;
    border: 2px solid #0056b3;
    background-color: white;
    border-radius: 8px;
    width: 200px;

}

.new-bid-btn {
    background-color: #0056b3;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    cursor: pointer;
}

.new-bid-btn:hover {
    background-color: #0056b3;
}

/* Countdown timer */
.countdown-container {
    /* Svetloplava, poluprovidna */
     /* Tamnoplava za dobar kontrast */
    font-size: 20px; /* Veći font za čitljivost */
    font-weight: bold; /* Podebljan tekst */
    padding: 8px 15px; /* Udoban padding */
    border-radius: 8px; /* Zaobljeni uglovi */
     /* Poluprovidni okvir */
    text-align: center; /* Centriran tekst *//* Ne zauzima celu širinu */
    /* Blaga senka */
    font-family: Arial, sans-serif; /* Čist i moderan font */
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 250px;
}

.countdown-timer{
    color:#CD5C5C;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Kontakt informacije */
.contact-info p {
    text-align: center;
    font-size: 1.2em;
}

.contact-info .phone-number a {
    text-decoration: none;
    color: #0056b3;
}

.contact-info .phone-number a:hover {
    color: #0056b3;
}

.contact-info .auction-owner {
    font-size: 1.2em;
    color: #444;
}

.contact-info .auction-owner a{
    color: #0056b3;
}

/* Modal za istoriju ponuda */
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixed positioning for full-screen coverage */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Ensure it's on top of other elements */
}

.ReactModal_Content {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    margin: 50px auto;
}

.ReactModal_Content ul {
    list-style-type: none;
    padding: 0;
}

.ReactModal_Content li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Dugme za zatvaranje */
.close-button {
    font-size: 1.8em;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

.report-auction-btn {
    position: absolute; /* Use absolute positioning */
    top: 0px;           /* Distance from the top of the container */
    left: 0px;          /* Distance from the left of the container */  /* Add padding for size */ /* Button background color */
    color: darkblue;        /* Button text color */
    padding: 6px;
    font-size: 1em;    /* Font size */
    border: none;          /* Rounded corners */
    cursor: pointer;     /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    text-decoration:underline;
    background-color: #f7f7f8;
}

.report-auction-btn:hover {
    background-color: #ccc; /* Darker background on hover */
}

.comment-hr{
    width: 200px;
}

hr{
    height: 1px;
    background-color: #666;
}

.full-description{
    color: #333;
    background-color: white;
    padding: 20px;
    width: 85%;
    margin: 0 auto;
    border: 1px solid #999;
    border-radius: 1%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    font-weight: bolder;
}

@media (max-width: 768px) {
    .new-bid-container {
        padding: 10px;
        width: 100%;
        margin: 0 auto;
    }
    .new-bid-container input{
        font-size: 1rem;

    }
    .new-bid-btn{
        margin-top: 10px;
    }
}

