/* Glavni stil za formu */
form {
    max-width: 800px; /* Povećana širina forme */
    min-width: 230px;
    margin: 10px auto;
    padding: 30px; /* Više prostora unutar forme */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Blago povećana zaobljenost ivica */
    background-color: white;
}

/* Stil za h2 (naslov) */
h2 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 28px; /* Veći naslov */
}

/* Stil za svako polje u formi */
div {
    margin-bottom: 20px;
}

/* Stil za label */
label {
    display: block;
    margin-bottom: 8px; /* Malo više prostora između labela i polja */
    color: #555;
    font-size: 18px; /* Veći font za label */
    font-family: 'Arial', sans-serif;
}

/* Stil za input polja */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="phone"] {
    width: 100%;
    padding: 10px; /* Povećan padding unutar input polja */
    font-size: 18px !important; /* Veći font za lakše čitanje */
    border: 1px solid #ccc;
    border-radius: 3px; /* Zaobljenije ivice input polja */
    box-sizing: border-box;
    transition: border-color 0.3s;
    text-align: center;
}

/* Promena boje okvira kada se input fokusira */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #B9A188;
    outline: none;
}

/* Stil za dugme za prijavu */
button[type="submit"] {
    width: 100%;
    padding: 15px; /* Povećan padding na dugmetu */
    background-color: #4477E6; 
    color: white;
    font-size: 20px; /* Veći font na dugmetu */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px
}

/* Promena boje dugmeta pri hover-u */
button[type="submit"]:hover {
    background-color: #518EFF;
}

button[type="button"]{
    background-color: lightblue;
    float: left;
    padding: 10px;
}

/* Stil za poruke o uspehu ili grešci */
p {
    text-align: center;
    font-size: 16px; /* Veći font za poruke */
    font-family: 'Arial', sans-serif;
}

.form-container {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 150px auto;
    border: solid #ccc 1px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.error-message, .success-message{
    color:red;
    text-align: center;
}

/* Modal stilovi */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Tamna pozadina sa transparentnošću */
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-out;
}

/* Efekat animacije za modal */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Stilovi za tekst */
.modal-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.modal-content p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

/* Dugme za zatvaranje */
.modal-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Plava boja dugmeta */
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #0056b3; /* Tamnija plava pri hoveru */
}

/* Animacija za ulaz */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    /* Manja širina forme na malim ekranima */
    .form-container{
        width: 90%;
        margin-left: -13px;
        margin-top: 100px;
    }
    form {
        padding: 20px; 
        margin-top: 10px;
    }

    h2 {
        font-size: 24px;
    }

    .form-group {
        margin-bottom: 15px; /* Smanjenje prostora između polja */
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        font-size: 24px; /* Povećanje fonta unutar input polja za bolje čitanje */
        height: 35px;
    }

    button[type="submit"] {
        padding: 12px; /* Manje padding-a na mobilnim ekranima */
        font-size: 18px; /* Smanjeni font na mobilnim uređajima */
    }
}

/* Media query za veće ekrane (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
    form {
        width: 60%; /* Smanjena širina forme na tabletima */
    }

    button[type="submit"] {
        font-size: 18px; /* Prilagodba fonta na tabletima */
    }
}

/* Media query za desktop uređaje */
@media (min-width: 1025px) {
    form {
        width: 60%; /* Forma je šira na desktop ekranima */
    }
}