/* Glavni stil za formu */
form {
    max-width: 800px; /* Povećana širina forme */
    min-width: 230px;
    width: 200px;
    margin: 50px auto;
    padding: 30px; /* Više prostora unutar forme */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Blago povećana zaobljenost ivica */
    background-color: white;
}

/* Stil za h2 (naslov) */
h2 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 28px; /* Veći naslov */
}

/* Stil za svako polje u formi */
div {
    margin-bottom: 20px;
}

/* Stil za label */
label {
    display: block;
    margin-bottom: 8px; /* Malo više prostora između labela i polja */
    color: #555;
    font-size: 18px; /* Veći font za label */
    font-family: 'Arial', sans-serif;
}

/* Stil za input polja */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px; /* Povećan padding unutar input polja */
    font-size: 14px; /* Veći font za lakše čitanje */
    border: 1px solid #ccc;
    border-radius: 3px; /* Zaobljenije ivice input polja */
    box-sizing: border-box;
    transition: border-color 0.3s;
    text-align: center;
}

/* Promena boje okvira kada se input fokusira */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"],
input[type="number"] {
    border-color: #B9A188;
    outline: none;
}

/* Stil za dugme za prijavu */
button[type="submit"] {
    width: 100%;
    padding: 15px; /* Povećan padding na dugmetu */
    background-color: #4477E6; 
    color: white;
    font-size: 20px; /* Veći font na dugmetu */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px
}

/* Promena boje dugmeta pri hover-u */
button[type="submit"]:hover {
    background-color: #518EFF;
}

button[type="button"]{
    background-color: lightblue;
    float: left;
    padding: 10px;
}

/* Stil za poruke o uspehu ili grešci */
p {
    text-align: center;
    font-size: 16px; /* Veći font za poruke */
    font-family: 'Arial', sans-serif;
}

.form-container{
    background-color: #f9f9f9;
    padding: 30px;
    margin: 150px auto;
    border: solid #ccc 1px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 350px;
}

.google-button{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    margin: 50px auto;
}

.google-button:hover {
    background-color: #ccc; 
}

.google-logo{
    width: 30px; /* Logo size */
    height: auto;
    margin-right: 8px;
}

.error-message, .success-message{
    color:red;
    text-align: center;
}

GoogleLogin{
    margin: 100px auto;
}

