/* Glavni stil za formu kreiranja aukcije */
.formContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 120px auto;
    padding: 30px;
    background-color: #ECF0F1;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Forma unutar formContainer */
.formContainer form {
    display: flex;
    flex: 1;
}

/* Leva i desna strana forme */
.formLeft, .formRight {
    flex: 2;
}
.formLeft {
    margin-right: 20px;
}

/* Stil za textarea */
.formLeft textarea {
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    resize: none;
    font-size: 16px;
}

/* Stil za inpute */
.naslov,
input[type="number"] {
    width: 70% !important;
    font-size: 16px;
}

/* Stil za izabrane slike */
.selected-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 50px;
    height: 250px;
    border: 1px solid black;
    background-color: rgba(204, 204, 204, 0.5);
}

/* Stil za prikaz slika */
.image-preview {
    position: relative;
    margin: 5px;
}
.image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    object-fit: contain;
    border: 1px solid #ccc;
    background-color: rgba(5, 5, 5, 0.1);
}

/* Dugme za uklanjanje slika */
.remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 14px; /* Adjusted font size */
    display: flex; /* Added flexbox for alignment */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    transition: background-color 0.3s;
}

.remove-image:hover {
    background-color: darkred;
}   

/* Dugme za potvrdu */
input[type="submit"] {
    margin-top: 10px;
    padding: 12px;
    background-color: #4477E6;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40%;
}
input[type="submit"]:hover {
    background-color: #518EFF;
}

/* Ostali stilovi */
.auction-duration {
    margin-top: 20px;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.contact-info label {
    margin-left: 50px;
}
.contact-info input {
    width: 200px;
}
.duration {
    width: 70px;
    height: 30px;
}



.custom-file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-file-upload button {
    background-color: #FFA500;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
}

.custom-file-upload span {
    font-size: 14px;
    color: #555;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price-duration-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; /* Podesite razmak između komponenti po potrebi */
    width: 100%;
    text-align: left;
    color: #333;
    font-weight: bold;
}

.title-container {
    width: 100%;
    text-align: left;
    font-size: 1.5rem; /* Možete promeniti veličinu teksta po potrebi */
    font-weight: bold;
    margin-bottom: 20px; /* Razmak između naslova i forme */
    color: #333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.price-input-container {
   
    margin-top: 20px;
}

.price-input-container .currency {
    position: absolute;
    right: 0px;
    top: 80%;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: #333;
}

.auction-duration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label{
    font-weight: bold;
    color: #333;    
}

#description-label{
    text-align: left;
}

#din-span{
    margin-left: 5px;
    font-weight: 200;
}

.select-container{
    margin-top: 20px;
    text-align: left;
}
/* Stil za select (ComboBox) */
.select-container select {
    width: 70%; /* Širina kao i za ostale inpute */
    font-size: 16px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s;
}

/* Hover efekat na select */
.select-container select:hover {
    border-color: #4477E6;
}

/* Focus efekat na select */
.select-container select:focus {
    border-color: #4477E6;
    outline: none;
}

@media (max-width: 768px) {
    .formContainer {
        display: flex;
        flex-direction: row; /* Horizontalno postavljanje na velikim ekranima */
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1000px;
        margin: 150px auto;
        padding: 30px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    /* Forma unutar formContainer */
    .formContainer form {
        display: flex;
        flex: 1;
        flex-direction: column; /* Vertikalni raspored elemenata */
    }
    
    /* Leva i desna strana forme */
    .formLeft, .formRight {
        flex: 1;
        width: 100%; /* Omogućava punu širinu na manjim ekranima */
    }
    .formLeft {
        margin-right: 20px;
    }
    
    /* Stil za textarea */
    .formLeft textarea {
        height: 200px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;
        resize: none;
        font-size: 16px;
        margin-left: -10px;
    }
    
    /* Stil za inpute */
    input[type="text"],
    input[type="number"] {
        width: 100%; /* Prilagođavanje širine */
        font-size: 16px;
    }
    
    /* Stil za izabrane slike */
    .selected-images {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 0;
        height: auto;
        border: 1px solid black;
        background-color: rgba(204, 204, 204, 0.5);
        width: 100%; /* Puna širina */
    }
    
    /* Stil za prikaz slika */
    .image-preview {
        position: relative;
        margin: 5px;
    }
    .image-preview img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 1px solid #ccc;
        border-radius: 5px;
        object-fit: contain;
    }
    
    
    /* Dugme za potvrdu */
 .formRight   input[type="submit"] {
        margin-top: 10px;
        padding: 12px;
        background-color: #4477E6;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100%;
    }
    input[type="submit"]:hover {
        background-color: #518EFF;
    }

    #submit-btn{
        margin-top: 0px !important;
        margin-left: 0px;
    }
    
}

@media (max-width: 480px) {
    .formContainer {
        max-width: 95%;
        padding: 15px;
    }

    .auction-duration select {
        width: 100%;
        font-size: 1rem;
        padding: 10px;
    }

    .price-duration-container,
    .contact-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .price-input-container .currency {
        right: 10px; /* Da bude bliže desnoj ivici na malim ekranima */
    }

    .image-preview img {
        width: 80px;
        height: 80px;
    }

    .custom-file-upload button {
        margin-left: -15px;
    }
}

.error-message{
    font-size: 13px !important;
    justify-self: flex-start;
}

.error-images{
    color: red;
}
