.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 80px;
    transition: transform 0.3s ease-in-out; /* Animacija za glatki prelaz */
}

.sticky-header.hidden {
    transform: translateY(-100%); /* Sakriva header pomeranjem ka gore */
}

/* Omotač za centriranje leve i desne polovine */
.header-left,
.header-right {
    display: flex;
    align-items: center;
    flex: 1; /* Obe strane zauzimaju istu širinu */
    justify-content: center; /* Centriraju svoj sadržaj */
    gap: 15px;
    margin-top: 25px;
}

/* Logo */
.header-logo {
    width: 110px;
    height: auto;
}

/* Prilagođavanje na manjim ekranima */
@media (max-width: 768px) {
    .sticky-header {
        padding: 10px;
    }

    .header-left, .header-right {
        flex: unset;
        width: auto;
    }

    .header-logo {
        width: 90px;
    }
}

.login, .register{
    margin-left: 0px;
}



.user-profile {
    position: relative; /* Neophodno za apsolutno pozicioniranje dropdown-a */
    display: flex;
    align-items: center; /* Vertikalno centriranje */
    gap: 5px;
    margin-top: 20px;
}

.user-name {
    font-weight: bold; /* Podebljano ime korisnika */
}

.user-icon {
    width: 30px; /* Veličina ikone korisnika */
    height: 30px; /* Veličina ikone korisnika */
    cursor: pointer; /* Kursor pointer za ikonu */
}

.dropdown-menu {
    position: absolute;
    right: 0; /* Poravnanje dropdown-a desno */
    top: 40px; /* Podesite na osnovu visine header-a */
    background-color: #fff; /* Boja pozadine dropdown-a */
    border: 1px solid #ccc; /* Opciona ivica */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Senka za dropdown */
    z-index: 100; /* Osigurava da dropdown bude iznad drugih elemenata */
    padding: 10px; /* Unutrašnje margine dropdown-a */
    min-width: 130px;
}

.dropdown-menu a {
    display: block; /* Prikazivanje linkova u blokovima */
    padding: 5px 10px; /* Unutrašnje margine za linkove */
    text-decoration: none; /* Uklanja podvlačenje */
    color: #000; /* Boja teksta linkova */
    border-radius: 4px; /* Zaobljeni uglovi za linkove */
    transition: background-color 0.3s; /* Glatka promena boje prilikom hover-a */
}

.dropdown-menu a:hover {
    background-color: #f0f0f0; /* Promena boje prilikom hover-a */
}

.home-button {
    width: 30px;
    margin-top: 5px;
    margin-right: -10px;
}

.login-register-links {
    display: flex;
    justify-content: center; /* Centriraj linkove */
    margin: 20px 0; /* Dodatni prostor oko linkova */
}

.login-register-links a {
    text-decoration: none; /* Ukloni donju liniju */
    color: #007bff; /* Plava boja pri prelaženju mišem */
    background-color: rgba(0, 123, 255, 0.1); 
    padding: 8px 16px; /* Unutrašnji razmak */
    border-radius: 4px; /* Zaobljeni uglovi */
    margin: 0 8px; /* Razmak između linkova */
    font-size: 14px; /* Manja veličina fonta */
    transition: color 0.3s ease, background-color 0.3s ease; /* Efekti prelaza */
}

.login-register-links a:hover {
    color: #555; /* Tamnija siva boja teksta */
    background-color: #ccc; /* Bez pozadinske boje */
}

#product-category{
    max-width: 300px;
    min-width: 200px;
}

/* Button styles */
button.create-auction-btn {
    background-color:gold !important;
    color: black;
    border: 1px solid orange;
    padding: 10px !important;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 100px;
}

button.create-auction-btn:hover {
    background-color: goldenrod !important;
}

@media (max-width: 480px) {
    .header-logo { /* Further reduces left margin on very small screens */
        width: 90px;
        height: auto;
    }
    .user-profile{
        gap: 0px;
    }
    .registracija{
        display:none;
    }
    
}

@media (max-width: 1368px){
    .header-logo{
        width: 100px;
        height: auto;
    }
    .header-right{
        margin-right: 30px;
        gap: 10px;
    }
    .notification-logo{
        margin-top: 35px;
    }
}

.notification-logo{
    cursor: pointer;
    margin-top: 25px;
    margin-left: 10px;
}